<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login &lt; To Do List App</title>
  <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;700&family=Noto+Sans+KR:wght@300;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link rel="stylesheet" href="../assets/css/style.css">
  <script src="../assets/js/script.js" defer></script>
</head>
<body>
<div id="wrap">
  <main id="form-container">
    <div class="form-group">
      <div class="btn-toggle-box">
        <div class="btn-toggle-bg"></div>
        <h2 class="btn-toggle btn-signin active">Sign in</h2>
        <h2 class="btn-toggle btn-signup">Sign up</h2>
      </div>
      <div class="btn-sns-box">
        <a href="#;">
          <i class="fab fa-google"></i>
        </a>
        <a href="#;">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#;">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <div class="form-login-slider-container">
        <section class="login-container">
          <strong class="blind">Sign in</strong>
          <div class="login-form-row">
            <div class="input-style">
              <input type="text" placeholder="Email">
            </div>
          </div>
          <div class="login-form-row">
            <div class="input-style">
              <input type="password" placeholder="Password">
            </div>
          </div>
          <div class="login-form-row btn-area">
            <button type="submit" class="btn-login">Sign in</button>
          </div>
          <div class="login-form-row bottom">
            <a href="#;">Forgot your password?</a>
          </div>
        </section>
        <section class="login-container">
          <strong class="blind">Sign up</strong>
          <div class="login-form-row">
            <div class="input-style">
              <input type="text" placeholder="User name">
            </div>
          </div>
          <div class="login-form-row">
            <div class="input-style">
              <input type="text" placeholder="Email">
            </div>
          </div>
          <div class="login-form-row">
            <div class="input-style">
              <input type="password" placeholder="Password">
            </div>
          </div>
          <div class="login-form-row btn-area">
            <button type="submit" class="btn-login">Sign up</button>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>
</body>
</html>