@charset "UTF-8";

.calendar-header-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  padding: 0.7em 0 0.9em;
  color: #fff;
}

.calendar-header-group::after {
  position: absolute;
  top: 0;
  right: -200%;
  bottom: 0;
  left: -200%;
  z-index: -1;
  background-color: #333;
  content: '';
}

.calendar-year {
  flex: 1 0 100%;
  margin-bottom: 0.5rem;
  text-align: center;
}

.calendar-month {
  flex: 0 0 auto;
  margin: 0 0.3rem 0 0.9rem;
  font-weight: 500;
}

.calendar-date-list {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
}

.calendar-date-list .calendar-date-list__item {
  width: 2.7rem;
  height: 2.7rem;
}

.calendar-date-list .calendar-date-list__item a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  line-height: 2.7rem;
  color: #fff;
  text-align: center;
}

.calendar-date-list .calendar-date-list__item.today a {
  font-weight: 500;
  background-color: #fbbc05;
}

.btn-calendar-drop {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 1.3rem;
  height: 1.3rem;
  margin-top: 0.7rem;
  color: #333;
  transform: translateX(-50%);
}

.btn-calendar-drop::before {
  display: inline-block;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.3rem;
  font-family: 'Font Awesome 5 Free';
  content: '\f0d7';
}

.btn-calendar-drop.active::before {
  content: '\f0de';
}

/* calendar-body-group */
.calendar-body-group {
  overflow: hidden;
  max-height: 0;
  margin-top: 2rem;
  transition: max-height 0.5s ease;
}

.calendar-body-group.active {
  max-height: 26rem;
}

.table-calendar .th-cell,
.table-calendar .td-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.2rem;
}

.table-calendar .td-style {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.table-calendar .td-style.today.task {
  box-shadow: 0 2px 10px rgba(66, 133, 244, 0.65);
  background-color: #4285f4;
  color: #fff;
}

.table-calendar .task::after {
  position: absolute;
  right: 0;
  bottom: 0.5rem;
  left: 0;
  width: 0.4rem;
  height: 0.4rem;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #fbbc05;
  content: '';
}

.td-cell .prev-month,
.td-cell .next-month {
  color: #cacaca;
}
