@charset "UTF-8";

/* Member Registration */

#container.member-registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6%;
  background: url(../images/bg_login-page.jpg) 50% 50%/cover no-repeat;
}

#container.member-registration-container::after {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.1);
  content: '';
}

.member-registration {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 40rem;
  padding: 3rem 0;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}

.toggle-btn-group {
  display: flex;
  position: relative;
  width: 75%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,.15);
}

.toggle-btn-group .toggle-btn-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 50%;
  border-radius: 2rem;
  background-color: #333;
  transition: left .5s ease;
  content:'';
}

.toggle-btn-group .btn-toggle {
  width: 50%;
  background-color: transparent;
  color: #333;
  text-align: center;
  transition: color .5s ease;
}

.toggle-btn-group .toggle-btn-bg.active {
  left: 50%;
}

.toggle-btn-group .btn-toggle.active {
  color: #fff;
}

/* sign-form-slider */
.sign-form-slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-top: 1.5rem;
}

.sign-form {
  min-width: 100%;
  max-width: 100%;
  padding: 2rem 3rem 0;
  transition: transform .5s ease;
}

.sign-form.active {
  transform: translateX(-100%);
}

.sign-form__row + .sign-form__row {
  margin-top: 2rem;
}

.sign-form__row .input-box {
  position: relative;
}

.sign-form__row .input-placeholder {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: .5em 0;
  transition: .4s ease;
  transition-property: bottom, padding, font-size;
}

.sign-form__row .input-box.active .input-placeholder {
  left: 0;
  bottom: 85%;
  padding: 0;
  font-size: 1rem;
}

.sign-form__row .input-box {
  padding: .5em 0;
  border: none;
  border-bottom: 1px solid #333;
  border-radius: 0;
}

.sign-form__row .input-success,
.sign-form__row .input-success input {
  border-bottom-color: #34a853;
  color: #34a853;
}

.sign-form__row .input-error,
.sign-form__row .input-error input {
  border-bottom-color: #ea4335;
  color: #ea4335;
}

.sign-form__row .error-message {
  width: 100%;
  margin-top: .2rem;
  font-size: 1.2rem;
  color: #e32a37;
  text-align: left;
}

.sign-form .btn-ps-find {
  display: block;
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.sns-btn-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
  padding: 0 3rem;
}

.sns-btn-area .btn-primary {
  display: flex;
  align-items: center;
  width: 100%;
  padding: .5em 1em;
  color: #fff;
}

.sns-btn-area .btn-primary + .btn-primary {
  margin-top: 1.2rem;
}

.sns-btn-area .btn-primary.google {
  background: linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);
}

.sns-btn-area .btn-primary.facebook {
  background: linear-gradient(180deg, #3b5998, #2b4170);
}

.sns-btn-area .btn-primary.instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.sns-btn-area .btn-primary i {
  margin-right: 1.2rem;
  font-size: 1.6rem;
}

.sign-form__row .input-placeholder {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: .5em 0;
  transition: .4s ease;
  transition-property: bottom, padding, font-size;
}

.sign-form__row .input-box.active .input-placeholder {
  left: 0;
  bottom: 85%;
  padding: 0;
  font-size: 1rem;
}

.sign-form .btn-ps-find {
  display: block;
  margin: 1rem auto 0;
  font-size: 1.2rem;
}


