@charset "UTF-8";

/********************* main.css *********************/

/* Task List Container */
.pin-tasks-list__item > a {
  display: flex;
  align-items: center;
}

.pin-tasks-list__item + .pin-tasks-list__item{
  margin-top: 1rem;
}

.pin-tasks-list__item .pin-task-time {
  flex: 0 0 5rem;
  text-align: center;
  margin: 0 1rem;
}

/********************* Clip Plan Detail *********************/

.plan-details-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 60;
  padding: 0 6%;
  background-color: #fff;
}

.plan-details-container.active {
  display: block;
}

.plan-details-container .button-area {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.plan-details-container .button-area .btn-close,
.plan-details-container .button-area .btn-remove {
  font-size: 2rem;
  line-height: 1;
  color: #333;
}

.plan-details-header .date-box {
  display: flex;
  align-items: center;
}

.plan-details-header .date-box__date {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1;
}

.plan-details-header .date-box__month {
  margin-left: 1rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.2;
}

.plan-details-header .date-box__year {
  display: block;
  font-weight: 400;
  font-size: 1.4rem;
}

.plan-details-header .date-box__day {
  margin-left: auto;
}

.plan-details-body {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid #dadada;
}

.plan-details > li {
  display: flex;
  align-items: center;
}

.plan-details > li + li {
  margin-top: 1rem;
}

.plan-details > .plan-detail--note {
  align-items: flex-start;
}

.plan-details > li > :first-child {
  margin-right: 1rem;
}

.plan-details .plan-detail-icon {
  font-size: 1.6rem;
}

.plan-details .btn-clip {
  margin: 0 0 0 auto;
}