@charset "UTF-8";

/********************* navmenu.css *********************/

#nav {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
}

.nav__tabmenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #f1f1f1;
}

.nav__tabmenu__item a {
  display: block;
  width: 3.8rem;
  padding: .5em;
  text-align: center;
}

.nav__tabmenu__item a img {
  object-fit: cover;
  object-position: center;
}