@charset "UTF-8";

/********************* navmenu.css *********************/

#nav {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  background-color: #fff;
}

.nav__tabmenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #f1f1f1;
}

.nav__tabmenu__item a {
  display: block;
  position: relative;
  width: 3.8rem;
  padding: .5em;
  text-align: center;
}

.nav__tabmenu__item a:after {
  display: none;
  position: absolute;
  right: 0;
  bottom: .3rem;
  left: 0;
  width: .4rem;
  height: .4rem;
  margin: 0 auto;
  border-radius: 3px;
  background-color: #fbbc05;
  content:'';
}

.nav__tabmenu__item.active a:after {
  display: block;
}