@charset "UTF-8";

/********************* popup.css *********************/

#popup {
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  padding: 0 6%;
}

#popup:target {
  display: flex;
}

#pop-container {
  width: 100%;
  padding: 2.5rem;
  border-radius: 2px;
  background-color: #fff;
}

#pop-container .pop-btn-close:after {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0,0,0,.6);
  cursor: default;
  content: '';
}


.pop-ps-find-form {
  width: 100%;
  max-width: 40rem;
  padding: 2.5rem;
  border-radius: 2px;
  background-color: #fff;
  text-align: center;
}

.pop-notice-content__header > strong {
  font-size: 2rem;
}

.pop-notice-content .sign-form__row {
  margin-top: 2rem;
}

.icon-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #ea4335;
  font-size: 1.6rem;
  color: #fff;
}

.pop-message {
  margin: 1rem 0 2rem;
}

.pop-notice-content .pop-btn-close {
  display: block;
  margin-top: 1rem;
  font-size: 1.2rem;
}