@charset "UTF-8";

/********************* plansearch.css *********************/

/********************* Plan Search Header *********************/

.task-search-header {
  display: flex;
  padding: 1rem 6%;
  border-bottom: 1px solid #f1f1f1;
}

.task-search-header .input-box {
  position: relative;
  padding: .5em 1em .5em 4rem;
}

.task-search-header .input-box .icon-search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3.5rem;
  color: #9c9c9c;
}

.task-search__title + .todo-list {
  margin-top: 1rem;
}


.task-search__group + .task-search__group {
  margin-top: 2.5rem;
}