@charset "UTF-8";

/********************* todo.css *********************/

.todo-list__item {
  display: flex;
  align-items: center;
  overflow: hidden;
  min-height: 4.4rem;
  padding: 1rem 1.5rem;
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0,0,0,.3);
  background-color: #fff;
  font-size: 1.2rem;
}

.todo-list__item + .todo-list__item {
  margin-top: 2rem;
}

.todo-list__item .text-todo {
  flex-basis: 100%;
  padding: 0 1rem;
}

.todo-list__item .text-todo .time {
  display: block;
}

.todo-list__item.completed .label-todo:after {
  display: block;
}
