@charset "UTF-8";


/********************* login > To Do List *********************/
#container.member-registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6%;
  background: url(../images/bg_login-page.jpg) 50% 50%/cover no-repeat;
}

#container.member-registration-container::after {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.1);
  content: '';
}

/* Member Registration */
.member-registration {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 40rem;
  padding: 3rem 0;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}

.toggle-btn-group {
  display: flex;
  position: relative;
  width: 75%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,.15);
}

.toggle-btn-group .toggle-btn-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 50%;
  border-radius: 2rem;
  background-color: #333;
  transition: left .5s ease;
  content:'';
}

.toggle-btn-group .btn-toggle {
  width: 50%;
  background-color: transparent;
  color: #333;
  text-align: center;
  transition: color .5s ease;
}

.toggle-btn-group .toggle-btn-bg.active {
  left: 50%;
}

.toggle-btn-group .btn-toggle.active {
  color: #fff;
}

/* sign-form-slider */
.sign-form-slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-top: 1.5rem;
}

.sign-form {
  min-width: 100%;
  max-width: 100%;
  padding: 2rem 3rem 0;
  transition: transform .5s ease;
}

.sign-form.active {
  transform: translateX(-100%);
}

.sign-form__row + .sign-form__row {
  margin-top: 2rem;
}

.sign-form__row .input-box {
  position: relative;
}

.sign-form__row .input-placeholder {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: .5em 0;
  transition: .4s ease;
  transition-property: bottom, padding, font-size;
}

.sign-form__row .input-box.active .input-placeholder {
  left: 0;
  bottom: 85%;
  padding: 0;
  font-size: 1rem;
}

.sign-form__row .input-box {
  padding: .5em 0;
  border: none;
  border-bottom: 1px solid #333;
  border-radius: 0;
}

.sign-form__row .input-success,
.sign-form__row .input-success input {
  border-bottom-color: #34a853;
  color: #34a853;
}

.sign-form__row .input-error,
.sign-form__row .input-error input {
  border-bottom-color: #ea4335;
  color: #ea4335;
}

.sign-form__row .error-message {
  width: 100%;
  margin-top: .2rem;
  font-size: 1.2rem;
  color: #e32a37;
  text-align: left;
}

.sign-form__row.btn-area {
  margin-top: 1rem;
  text-align: center;
}

.sign-form__row .btn-ps-find {
  display: inline-block;
  font-size: 1.2rem;
}

.sns-btn-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
  padding: 0 3rem;
}

.sns-btn-area .btn-primary {
  display: flex;
  align-items: center;
}

.sns-btn-area .btn-primary + .btn-primary {
  margin-top: 1.2rem;
}

.sns-btn-area .btn-primary.google {
  background: linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);
}

.sns-btn-area .btn-primary.guest {
  background: linear-gradient(180deg, #3b5998, #2b4170);
}

/* .sns-btn-area .btn-primary.instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
} */

.sns-btn-area .btn-primary i {
  margin-right: 1.2rem;
  font-size: 1.6rem;
}

/* Popup Section */
.pop-ps-find-form {
  width: 100%;
  max-width: 40rem;
  padding: 2.5rem;
  border-radius: 2px;
  background-color: #fff;
  text-align: center;
}

.pop-notice-content__header > strong {
  font-size: 2rem;
}

.pop-notice-content .sign-form__row {
  margin-top: 2rem;
}

.icon-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #ea4335;
  font-size: 1.6rem;
  color: #fff;
}

.pop-message {
  margin: 1rem 0 2rem;
}

.pop-notice-content .pop-btn-close {
  display: block;
  margin-top: 1rem;
  font-size: 1.2rem;
}


/********************* Calendar > To Do List *********************/

/* nav */
#nav {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  background-color: #fff;
}

.nav__tabmenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #f1f1f1;
}

.nav__tabmenu__item a {
  display: block;
  position: relative;
  width: 3.8rem;
  padding: .5em;
  text-align: center;
}

.nav__tabmenu__item a:after {
  display: none;
  position: absolute;
  right: 0;
  bottom: .3rem;
  left: 0;
  width: .4rem;
  height: .4rem;
  margin: 0 auto;
  border-radius: 3px;
  background-color: #fbbc05;
  content:'';
}

.nav__tabmenu__item.active a:after {
  display: block;
}

/*************** Task From Container ***************/
.task-form-container {
  margin-top: -12.4rem;
  width: 100%;
  padding: 1rem 0;
  background-color: #fff;
  transition: margin .5s ease;
}

.task-form-container.active {
  margin-top: 0;
}

.task-form__row {
  display: flex;
  width: 100%;
}

.task-form__row:nth-of-type(2) {
  margin-top: .4rem;
}

.task-form__row.task-recur {
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s ease;
}

.task-form__row.date-pick + .task-form__row.task-recur {
  max-height: 2.5rem;
}

.input-box ~ button {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
}

.task-form__row .checkbox-box {
  flex: 0 0 10rem;
}

.task-input-btn {
  position: fixed;
  right: 6%;
  bottom: 5.3rem;
  z-index: 50;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #333;
  opacity: .65;
}

.task-input-btn::after,
.task-input-btn::before {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 2px;
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: transform .3s ease;
  content: '';
}

.task-input-btn::after {
  width: 60%;
  height: 3px;
}

.task-input-btn::before {
  width: 3px;
  height: 60%;
}

.task-input-btn.active::after {
transform: translate(-50%, -50%) rotate(180deg);
}

.task-input-btn.active::before {
  transform: translate(-50%, -50%) rotate(90deg);
}


/* calendar-header-group */
.calendar-header-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  padding: .7em 0 .9em;
  color: #fff;
}

.calendar-header-group::after {
  position: absolute;
  top: 0;
  right: -200%;
  bottom: 0;
  left: -200%;
  z-index: -1;
  background-color: #333;
  content: '';
}

.calendar-year {
  flex: 1 0 100%;
  margin-bottom: .5rem;
  text-align: center;
}

.calendar-month {
  flex: 0 0 auto;
  margin: 0 .3rem 0 .9rem;
  font-weight: 500;
}

.calendar-date-list {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
}

.calendar-date-list .calendar-date-list__item {
  width: 2.7rem;
  height: 2.7rem;
}


.calendar-date-list .calendar-date-list__item a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  line-height: 2.7rem;
  color: #fff;
  text-align: center;
}

.calendar-date-list .calendar-date-list__item.today a {
  font-weight: 500;
  background-color: #fbbc05;
}

.btn-calendar-drop {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 1.3rem;
  height: 1.3rem;
  margin-top: .7rem;
  color: #333;
  transform: translateX(-50%);
}

.btn-calendar-drop::before {
  display: inline-block;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.3rem;
  font-family: 'Font Awesome 5 Free';
  content: '\f0d7';
}

.btn-calendar-drop.active::before {
  content: '\f0de';
}

/* calendar-body-group */
.calendar-body-group {
  overflow: hidden;
  max-height: 0;
  margin-top: 2rem;
  transition: max-height .5s ease;
}

.calendar-body-group.active {
  max-height: 26rem;
}

.table-calendar .th-cell,
.table-calendar .td-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.2rem;
}

.table-calendar .td-style {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.table-calendar .td-style.today.tasks {
  box-shadow: 0 2px 10px rgba(66,133,244,.65);
  background-color: #4285f4;
  color: #fff;
}

.table-calendar .tasks::after {
  position: absolute;
  right: 0;
  bottom: .5rem;
  left: 0;
  width: .4rem;
  height: .4rem;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #fbbc05;
  content: '';
}

.td-cell .prev-month,
.td-cell .next-month {
  color: #cacaca;
}

/* Task List Container */
.pin-tasks-list__item > a {
  display: flex;
  align-items: center;
}

.pin-tasks-list__item + .pin-tasks-list__item{
  margin-top: 1rem;
}

.pin-tasks-list__item .pin-task-time {
  flex: 0 0 5rem;
  text-align: center;
  margin: 0 1rem;
}

/*************** Timetable > To Do List ***************/
.task-list-body.timetable {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem 1.4rem 0;
}

.table-timetable {
  text-align: left;
}

.table-timetable colgroup col {
  width: 6rem;
}

.table-timetable .th-cell,
.table-timetable .td-cell {
  position: relative;
  font-size: 1.2rem;
}

.table-timetable .th-cell::before {
  position: absolute;
  bottom: -.5rem;
  left: -.2rem;
  z-index: 10;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: #dadada;
  content: '';
}

.table-timetable .th-cell.current-time::before {
  width: .6rem;
  height: .6rem;
  background-color: #fbbc05;
}

.table-timetable .th-cell::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid #dadada;
  content: '';
}

.table-timetable .th-cell-inner {
  margin-left: -1.2rem;
  padding-bottom: .4rem;
}

.table-timetable .td-cell {
  height: 7rem;
  padding: .6rem 0;
}

.table-timetable .tr-empty .td-cell {
  height: 2rem !important;
}

.task-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: .5rem 1rem;
  border-radius: 3px;
  color: #fff;
}

.table-timetable .td-cell::after {
  position: absolute;
  top: -.7rem;
  bottom: -.6rem;
  left: 0;
  z-index: -1;
  border-left: 1px solid #dadada;
  content: '';
}

.table-timetable .td-cell:empty:before {
  content: '\00a0';
}

.table-timetable tbody tr:first-child .td-cell::after {
  top: 0;
}

.table-timetable .td-cell.current-time::after {
  border: 1px dashed #fbbc05;
}

.table-timetable tbody tr:nth-child(n+4) td:nth-child(3) .td-cell::after {
  border: 1px dashed #fbbc05;
}

/*************** To do > To Do List ***************/
.todo-list__item > a {
  display: flex;
  align-items: center;
  overflow: hidden;
  min-height: 4.4rem;
  padding: 1rem 1.5rem;
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0,0,0,.3);
  background-color: #fff;
  font-size: 1.2rem;
}

.todo-list__item + .todo-list__item {
  margin-top: 2rem;
}

.todo-list__item__text {
  flex-basis: 100%;
  padding: 0 1rem;
}

.todo-list__item__time {
  display: block;
}

/*************** Task Search > To Do List ***************/
.task-search-header {
  display: flex;
  padding: 1rem 6%;
  border-bottom: 1px solid #f1f1f1;
}

.task-search-header .input-box {
  position: relative;
  padding: .5em 1em .5em 4rem;
}

.task-search-header .input-box .icon-search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3.5rem;
  color: #9c9c9c;
}

.task-search__title + .todo-list {
  margin-top: 1rem;
}


.task-search__group + .task-search__group {
  margin-top: 2.5rem;
}

/*************** Myinfo container ***************/
.myinfo-container {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  z-index: 100;
  transition: right .5s ease;
}

.myinfo-container__inner {
  width: 23rem;
  height: 100%;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
}

.myinfo-header__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #333;
  border-radius: 50%;
}

.myinfo-header__profile .unknown {
  width: 2.5rem;
}

.myinfo-header .button-area {
  display: flex;
  justify-content: center;
  margin-top: .5rem;
}

.myinfo-header .button-area button {
  flex: 0 0 auto;
  width: auto;
  font-size: 1rem;
}

.myinfo-header .button-area button + button {
  margin-left: 1rem;
}

.myinfo-body {
  margin-top: 2rem;
}

.myinfo-body__phrase figure {
  margin-top: .5rem;
}

.myinfo-body__phrase figcaption {
  margin-top: .4rem;
  font-size: 1.2rem;
  text-align: right;
}

.myinfo-body__phrase figure p:after,
.myinfo-body__phrase figure p:before {
  content: '"';
}

.myinfo-container .btn-close:after {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0,0,0,.4);
  content: '';
}

#myinfo:target {
  display: block;
  right: 0;
}

#myinfo:target .btn-close:after {
  display: block;
}


/*************** Task Details Container ***************/
.task-details-container {
  text-align: left;
}

.task-details-container .button-area {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  left: 2.5rem;
}

.task-details-container .button-area .pop-btn-close,
.task-details-container .button-area .btn-remove {
  font-size: 2rem;
  line-height: 1;
  color: #333;
}

.task-details__header {
  margin-top: 1rem;
}

.task-details__header .date-box {
  display: flex;
  align-items: center;
}

.task-details__header .date-box__date {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1;
}

.task-details__header .date-box__month {
  margin-left: 1rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.2;
}

.task-details__header .date-box__year {
  display: block;
  font-weight: 400;
  font-size: 1.4rem;
}

.task-details__header .date-box__day {
  margin-left: auto;
}

.task-details__body {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid #dadada;
}

.task-details__item {
  display: flex;
  align-items: center;
}

.task-details__item + .task-details__item {
  margin-top: 1rem;
}

.task-details__item.note {
  align-items: flex-start;
}

.task-details__item.note .task-detail-note {
  overflow-y: auto;
  max-height: 23.2rem;
}

.task-details__item > :first-child {
  margin-right: 1rem;
}

.task-details__item .task-detail-icon {
  font-size: 1.7rem;
}

.task-details__item .btn-pin {
  margin: 0 0 0 auto;
}